<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT PANDA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="bg-black font-sans max-w-full">
  <!-- Navbar -->
  <section class="Home" id="Home">
    <nav class="fixed top-0 left-0 w-full bg-white h-16 flex items-center justify-center z-50">
      <ul class="flex flex-row items-center gap-3 text-black p-1">
        <img class="h-6 md:h-12 pr-6" src="https://itpanda.org/assets/icons/It-Panda-logo%20icon.png"
          alt="IT Panda Logo">
        <li><a href="#Home" class="text-blue-500 transition duration-300 hover:text-blue-500">Home</a></li>
        <li><a href="#Service" class="transition duration-300 hover:text-blue-500">Services</a></li>
        <li><a href="#team" class="transition duration-300 hover:text-blue-500">Our Team</a></li>
        <li><a href="#portfolio" class="transition duration-300 hover:text-blue-500">Portfolio</a></li>
      </ul>
    </nav>

    <!-- Background Image -->
    <div class="relative w-full h-screen">
      <img class="absolute w-full h-full opacity-50 object-cover"
        src="https://png.pngtree.com/thumb_back/fh260/background/20240610/pngtree-computer-of-a-programmer-with-lines-code-of-software-image_15746003.jpg">

      <!-- Home Content -->
      <div class="flex flex-col justify-center items-center w-11/12 h-screen mx-auto relative z-10">
        <h1 class="text-center text-white font-bold text-xl md:text-2xl">We Build The World's Professional Website</h1>
        <p class="text-white text-sm md:text-base">Build a website that performs</p>
        <button
          class="text-sm bg-blue-600 w-36 md:w-40 h-10 mt-4 rounded-full transition duration-300 text-white hover:bg-white hover:text-black">
          <a href="#Service">More Services</a>
        </button>
      </div>
    </div>
    <div class=" bg-white w-full p-6 h-full">
      <div class="flex flex-col md:flex-row items-center gap-10">
        <div class="md:w-1/2">
          <h1 class="text-blue-500 font-bold text-start text-2xl md:text-2xl max-w-screen-lg mx-auto">WHO WE ARE</h1>
          <p class="text-start leading-relaxed w-full max-w-screen-lg mx-auto mb-4 pt-4">
            A global leader in software solutions, serving clients across the United States, Germany, Hong Kong, and
            beyond.
            Specializing in finance, e-commerce, and law, we take pride in the websites we've crafted for our clients in
            these industries. Our commitment to innovation, global perspective, and unwavering focus on security sets us
            apart. We're not just a software company; we're your strategic partner in digital transformation, propelling
            businesses to new heights in the dynamic world of technology.
          </p>
        </div>
        <img id="transformImage" class="transform-image shadow-custom h-64 rounded-3xl max-w-1/2"
          src="https://i.redd.it/zszdxa4n0qoa1.png" alt="IT Panda Image">

      </div>
    </div>
  </section>
  <section class="Service" id="Service">
    <!-- Background Image -->
    <div class="absolute w-full h-screen">
      <img class="absolute w-full object-cover opacity-20"
        src="https://e1.pxfuel.com/desktop-wallpaper/408/758/desktop-wallpaper-best-4-command-on-hip-command-center.jpg"
        alt="Background Image">
    </div>

    <!-- Content Section (placed over image) -->
    <div class="relative w-full h-full flex flex-col justify-start items-center z-10">
      <h1 class="text-4xl font-bold text-blue-500 mt-10">OUR SERVICES</h1>
      <div class="container grid grid-cols-1 md:grid-cols-3 grid-rows-2 pl-4 md:pl-8 gap-20 mt-8">
        <div
          class="angular bg-white w-80 h-80 flex flex-col justify-center items-center rounded-3xl transition duration-500 hover:bg-black hover:-translate-y-5 group hover:border-2 hover:shadow-custom2">
          <img class="h-20 mt-4" src="https://v17.angular.io/assets/images/logos/angular/shield-large.svg" />
          <h1 class="text-blue-500 text-center font-bold text-xl mt-4">Angular Development</h1>
          <p class="text-black w-60 mt-4 group-hover:text-white">Angular helps build single page applications (SPAs)
            with its interest,
            attention features.<br><a class="text-blue-500 cursor-pointer" (click)="showCountactUs()">Contact Us</a><app-countact-us *ngIf="showCountact"></app-countact-us></p>
        </div>

        <div
          class="react bg-white w-80 h-80 flex flex-col justify-center items-center rounded-3xl transition duration-500 hover:bg-black hover:-translate-y-5 group hover:border-2 hover:shadow-custom2">
          <img class="h-20 mt-4" src="https://reactnative.dev/img/header_logo.svg" />
          <h1 class="text-blue-500 font-bold text-xl mt-4 ">React Development</h1>
          <p class="text-black w-60 mt-4 group-hover:text-white">React development offers having grace solutions to some
            of front-end programming.<br><a class="text-blue-500" href="#">Contact Us</a></p>
        </div>

        <div
          class="graphic bg-white w-80 h-80 flex flex-col justify-center items-center rounded-3xl transition duration-500 hover:bg-black hover:-translate-y-5 group hover:border-2 hover:shadow-custom2">
          <img class="h-20 mt-4 rounded-full"
            src="https://img.freepik.com/free-psd/3d-rendering-interface-tool-icon_23-2151591556.jpg?w=740&t=st=1728210782~exp=1728211382~hmac=ec3024c1eb2185c9c77be9963ba4b577e13a4f9669a22615c13fd5e1cd95444f" />
          <h1 class="text-blue-500 font-bold text-xl mt-4">Graphic Designing</h1>
          <p class="text-black w-60 mt-4 group-hover:text-white">Graphic designing is a format of communication using
            text or images to create.<br><a class="text-blue-500" href="#">Contact Us</a></p>
        </div>

        <div
          class="marketing bg-white w-80 h-80 flex flex-col justify-center items-center rounded-3xl transition duration-500 hover:bg-black hover:-translate-y-5 group hover:border-2 hover:shadow-custom2">
          <img class="h-20 mt-4 rounded-full"
            src="https://img.freepik.com/premium-photo/colorful-picture-laptop-with-web-page-it_950428-37039.jpg?w=740" />
          <h1 class="text-blue-500 text-center font-bold text-xl mt-4">Digital Marketing</h1>
          <p class="text-black w-60 mt-4 group-hover:text-white">Digital marketing is the act of promoting and selling
            products and services.<br><a class="text-blue-500" href="#">Contact Us</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section -->
  <section class="team w-full h-full bg-white flex flex-col justify-center items-center mt-8 pt-28 " id="team">
    <h1 class="text-4xl font-bold text-blue-500 mb-6">OUR TEAM</h1>
    <p class="text-lg text-bule-500 text-center max-w-2xl">Meet the talented individuals behind our company...</p>
    <div class="mt-12 grid grid-cols-1 md:grid-cols-3 grid-rows-2 pl-4 md:pl-8 gap-24">
      <!-- Team Description -->
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Naveed Aheer</h1>
          <p class="">Lead Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Naveed Aheer</h2>
        <p class="text-gray-500">Lead Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Fareedullah</h1>
          <p class="">Senior Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Fareedullah</h2>
        <p class="text-gray-500">Senior Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Hammad Imran</h1>
          <p class="">Junior Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Hammad Imran</h2>
        <p class="text-gray-500">Junior Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Malik Umair</h1>
          <p class="">Supportive Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Malik Umair</h2>
        <p class="text-gray-500">Supportive Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Adnan Aheer</h1>
          <p class="">UI/UX Designer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Adnan Aheer</h2>
        <p class="text-gray-500">UI/UX Designer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Sir Mannan</h1>
          <p class="">Digital Marketer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Sir Mannan</h2>
        <p class="text-gray-500">Digital Marketer</p>
      </div>
    </div>
  </section>
  <!-- Portfolio section -->
  <section class="portfolio w-full h-full bg-white flex flex-col justify-center items-center  pt-28" id="portfolio">
    <h1 class="text-4xl font-bold text-blue-500 mb-6">OUR PORTFOLIO</h1>
    <div class="flex pl-12">
      <div class="relative w-1/2 group">
        <!-- Image -->
        <img class="w-full h-full transition-all duration-500"
          src="https://cdn.dribbble.com/userupload/4291582/file/original-cf4e30ff6326d74fbaee825a65a5ffbe.jpg?resize=1600x1200"
          alt="">

        <!-- Overlay -->
        <div
          class="absolute inset-0 bg-blue-900 opacity-0 transition-opacity duration-500 group-hover:opacity-90 flex items-center justify-center">
          <span><a href="https://www.rounx.com/" class="text-white text-xl z-10">Visit Rounx</a></span>
        </div>

      </div>

      <div class=" bg-blue-900 w-1/2 h-auto">
        <h1 class=" text-blue-500 text-2xl font-bold  p-12">ROUNX</h1>
        <p class="text-white p-12 max-sm:w-full max-sm:p-6">Rounx Tech is a leading provider of IT consultancies and IT services, offering
          comprehensive solutions to businesses looking to optimize their technology infrastructure. Our team of
          experienced professionals specializes in a wide range of IT services, including network security, cloud
          computing, data management, and IT support. We work closely with our clients to understand their unique needs
          and develop customized solutions that help them achieve their business goals. With a focus on innovation and
          efficiency, Rounx.com is committed to delivering high-quality IT services that drive growth and success for
          our clients.</p>
      </div>
    </div>
  </section>
  <app-countact-us></app-countact-us>
</body>



</html>