<!-- Team Section -->

<section class="team w-full bg-white flex flex-col justify-center items-center mt-8 pt-28 " id="team">
    <h1 class="text-4xl font-bold text-blue-500 mb-6">OUR TEAM</h1>
    <p class="text-lg text-bule-500 text-center max-w-2xl">Meet the talented individuals behind our company...</p>
    <div class="mt-12 grid grid-cols-1 md:grid-cols-3 grid-rows-2 pl-4 md:pl-8 gap-24">
      <!-- Team Description -->
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">John Doe</h1>
          <p class="">Lead Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Jhon Doe</h2>
        <p class="text-gray-500">Lead Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Franklin</h1>
          <p class="">Senior Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Franklin</h2>
        <p class="text-gray-500">Senior Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Hazzard wood</h1>
          <p class="">Junior Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Hazzard wood</h2>
        <p class="text-gray-500">Junior Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Micheal</h1>
          <p class="">Supportive Developer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Micheal</h2>
        <p class="text-gray-500">Supportive Developer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Anderson</h1>
          <p class="">UI/UX Designer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Anderson</h2>
        <p class="text-gray-500">UI/UX Designer</p>
      </div>
      <div
        class="team-member w-64 h-85 bg-gray-200 flex flex-col justify-center items-center rounded-lg relative group shadow-custom">
        <img class="h-full w-full object-cover transition-all duration-500"
          src="https://t3.ftcdn.net/jpg/02/25/10/36/360_F_225103684_9opc6FzD29B5K2YMXlOTR1yuSQQemA4m.jpg"
          alt="Team Member">
        <!-- Overlay with Text (Initially hidden, slide in on hover) -->
        <div
          class="overlay absolute text-white text-2xl opacity-0 bg-blue-900 p-2 transition-all duration-500 -left-8 group-hover:left-0 group-hover:opacity-80 flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-center text-3xl mb-4">Trevor</h1>
          <p class="">Digital Marketer</p>
          <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
          <div class="social-icons flex  gap-4 pt-8">
            <!-- Facebook Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-500">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-400">
              <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn Icon -->
            <a href="#" class="text-white text-xl transition duration-300 hover:text-blue-700">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <h2 class="text-xl font-semibold mt-4">Trevor</h2>
        <p class="text-gray-500">Digital Marketer</p>
      </div>
    </div>
  </section>