
    <!-- Navbar -->
    <section class="Home" id="Home">
        <nav class="fixed top-0 left-0 w-full bg-white h-16 flex items-center justify-center z-50">
            <ul class="flex flex-row items-center gap-3 text-black p-1">
                <img class="h-16 md:h-12"
                    src="https://t3.ftcdn.net/jpg/00/85/73/28/360_F_85732813_H42V97IazS9xQNfMPYrbk1fgQcg9l8rs.jpg"
                    alt="IT Panda Logo">
                <li><a href="#Home" class="text-blue-500 transition duration-300 hover:text-blue-500">Home</a></li>
                <li><a href="#Service" class="transition duration-300 hover:text-blue-500">Services</a></li>
                <li><a href="#team" class="transition duration-300 hover:text-blue-500">Our Team</a></li>
                <li><a href="#portfolio" class="transition duration-300 hover:text-blue-500">Portfolio</a></li>
            </ul>
        </nav>

        <!-- Background Image -->
        <div class="relative w-full h-screen">
            <img class="absolute w-full h-full opacity-50 object-cover"
                src="https://png.pngtree.com/thumb_back/fh260/background/20240610/pngtree-computer-of-a-programmer-with-lines-code-of-software-image_15746003.jpg">

            <!-- Home Content -->
            <div class="flex flex-col justify-center items-center w-11/12 h-screen mx-auto relative z-10">
                <h1 class="text-center text-white font-bold text-xl md:text-2xl animate-fadeInTransform delay-100">We Build The World's Professional
                    Website</h1>
                <p class="text-white text-sm md:text-base animate-fadeInTransform delay-300">Build a website that performs</p>
                <button
                    class="text-sm bg-blue-600 w-36 md:w-40 h-10 mt-4 rounded-full transition duration-300 text-white hover:bg-white hover:text-black animate-fadeInTransform delay-500">
                    <a  href="#Service">More Services</a>
                </button>
            </div>
        </div>
        <div class=" bg-white w-full p-6 h-full">
            <div class="flex flex-col md:flex-row items-center gap-10">
                <div class="md:w-1/2">
                    <h1 class="text-blue-500 font-bold text-start text-2xl md:text-2xl max-w-screen-lg mx-auto">WHO WE
                        ARE</h1>
                    <p class="text-start leading-relaxed w-full max-w-screen-lg mx-auto mb-4 pt-4">
                        A global leader in software solutions, serving clients across the United States, Germany, Hong
                        Kong, and
                        beyond.
                        Specializing in finance, e-commerce, and law, we take pride in the websites we've crafted for
                        our clients in
                        these industries. Our commitment to innovation, global perspective, and unwavering focus on
                        security sets us
                        apart. We're not just a software company; we're your strategic partner in digital
                        transformation, propelling
                        businesses to new heights in the dynamic world of technology.
                    </p>
                </div>
                <img id="transformImage" class="transform-image shadow-custom h-64 rounded-3xl max-w-1/2"
                    src="https://i.redd.it/zszdxa4n0qoa1.png" alt="IT Panda Image">

            </div>
        </div>
    </section>